<div id="display_book">
<div>
<div id="authors_info">
</div>

<h2><button id='load_authors' align='left'>Expand All Author Details</button></h2>

<!-- <br><br><% @authors.each do |author| %>
  Author Name: <%= link_to author.name, author_path(author) %><br>
  <p>Published Books by <%= author.name %>: <%= author.books.size %><p>
    <% author.books.each do |book| %>
      Title: <%= link_to book.title, book_path(book) %><br>
    <% end %><br><br>
<% end %> -->
<h3><%= link_to "See All Books", books_path %></h3>
<h3><%= link_to  "Home", root_path %></h3>
